* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 199, 199);
}